:root {
  /* colors */
  --black: hsl(212 21% 14%);
  --grey: hsl(228 12% 48%);
  --cream: hsl(30 38% 92%);
  --white: hsl(0 0% 100%);
  --green-500: hsl(158 36% 37%);
  --green-700: hsl(158 42% 18%);

  /* spacing */
  --space-50: 4px;
  --space-100: 8px;
  --space-200: 16px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 40px;
}

@font-face {
  font-family: "Fraunces";
  src: url("/assets/fonts/Fraunces-VariableFont.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-VariableFont.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  background-color: var(--cream);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 12px 12px 13px;
}

img,
picture {
  display: block;
  max-width: 100%;
}

/* --- utility classes */

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.text-preset-1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.text-preset-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.1;
}

.text-preset-3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.6;
}

.text-preset-4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.2;
  letter-spacing: 0.417em;
}

.text-preset-5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.2;
}

/* --- end of utility classes */

.card {
  background-color: var(--white);
  max-width: 37.5rem;
  border-radius: var(--space-100);
  overflow: hidden;
  display: grid;

  @media (width >= 37.5rem) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card__image {
  height: 100%;
}

.card__content {
  padding: var(--space-400);
  gap: var(--space-300);

  @media (width >= 37.5rem) {
    gap: var(--space-400);
  }
}

.card__text {
  gap: var(--space-300);
}

.card__category {
  color: var(--grey);
  text-transform: uppercase;
}

.card__title {
  color: var(--black);
}

.card__description {
  color: var(--grey);
}

.price {
  gap: var(--space-200);
  align-items: center;
}

.price__current {
  color: var(--green-500);
}

.price__original {
  color: var(--grey);
}

.btn {
  justify-content: center;
  align-items: center;
  gap: var(--space-100);
  padding: var(--space-200) var(--space-400);
  border: none;
  border-radius: var(--space-100);
  color: var(--white);
  background-color: var(--green-500);

  &:hover {
    background-color: var(--green-700);
  }

  &:focus-visible {
    outline: 2px dotted var(--green-700);
    outline-offset: 2px;
  }
}

.btn__icon {
  width: 0.9375rem;
  height: 1rem;
}
