@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/assets/fonts/Fraunces-VariableFont.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/assets/fonts/Montserrat-VariableFont.woff2") format("woff2");
}

:root {
  --black: hsl(212 21% 14%);
  --grey: hsl(228 12% 48%);
  --cream: hsl(30 38% 92%);
  --white: hsl(0 0% 100%);
  --green-500: hsl(158 36% 37%);
  --green-700: hsl(158 42% 18%);

  --font-serif: "Fraunces", serif;
  --font-sans: "Montserrat", sans-serif;
  --fs-xs: 0.75rem;
  --fs-sm: 0.8125rem;
  --fs-base: 0.875rem;
  --fs-2xl: 2rem;
  --fw-medium: 500;
  --fw-bold: 700;
  --lh-none: 1;
  --lh-tight: 1.1;
  --lh-snug: 1.2;
  --lh-relaxed: 1.6;

  --space-50: 4px;
  --space-100: 8px;
  --space-200: 16px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 40px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--cream);
  color: var(--grey);
  font-family: var(--font-sans);
  font-size: var(--fs-base);
  font-weight: var(--fw-medium);
  line-height: var(--lh-relaxed);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.card {
  background-color: var(--white);
  max-width: 37.5rem;
  border-radius: var(--space-100);
  overflow: hidden;
  display: grid;

  @media (width >= 37.5rem) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card__image img {
  height: 100%;
  object-fit: cover;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
  padding: var(--space-400);

  @media (width >= 37.5rem) {
    gap: var(--space-400);
  }
}

.card__intro {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}

.card__category {
  font-size: var(--fs-xs);
  line-height: var(--lh-snug);
  letter-spacing: 0.417em;
  text-transform: uppercase;
}

.card__title {
  color: var(--black);
  font-family: var(--font-serif);
  font-weight: var(--fw-bold);
  font-size: var(--fs-2xl);
  line-height: var(--lh-none);
}

.card__prices {
  display: flex;
  align-items: center;
  gap: var(--space-200);
}

.card__price--current {
  color: var(--green-500);
  font-family: var(--font-serif);
  font-weight: var(--fw-bold);
  font-size: var(--fs-2xl);
  line-height: var(--lh-none);
}

.card__price--original {
  font-size: var(--fs-sm);
  line-height: var(--lh-snug);
}

.card__button {
  cursor: pointer;
  color: var(--white);
  font-weight: var(--fw-bold);
  line-height: var(--lh-tight);
  background-color: var(--green-500);
  border: none;
  border-radius: var(--space-100);
  padding: var(--space-200) var(--space-400);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-100);

  &:hover {
    background-color: var(--green-700);
  }

  &:focus-visible {
    outline: 2px dotted var(--green-700);
    outline-offset: 2px;
  }
}
